USER:<image>
Context: The are three types of rhetorical appeals or ways to convince the audience:

    - Ethos is a persuasive technique that appeals to an audience by highlighting credibility. Ethos advertisement techniques invoke the superior “character” of a speaker, presenter, writer, or brand.
    - Pathos is a persuasive technique that tries to convince an audience through emotions. Pathos advertisement techniques appeal to the senses, memory, nostalgia, or shared experience.
    - Logos is the persuasive technique that aims to convince an audience by using logic and reason. Also called “the logical appeal,” logos examples in advertisements include the citation of statistics, facts, charts, and graphs.

Question: Assume you are a human evaluating this image. Score how well the image appeals to "{{appealing_type}}" in the range of 0 to 5. Only return the score. Do not include any explanation.
ASSISTANT: