Context: This is an advertisement image promoting a product. {{description}}.
Question:
Based on the description for the advertisement image return the 3 best indices to interpret the described image separated by comma.
Options: {{options}}
Your output format is only Answer: ${indices of the 3 best statements separated by comma} form, no other form.
Answer: