{%- if token_length is not none -%}
You are a highly intelligent Summarization system. You take a few question-answer pairs about an image as an input. Combine the answers  and summarize the passage in {{ token_length }} tokens. The final passage should be informative enough to be used for answering different questions about the image.
{%- else -%}
You are a highly intelligent Summarization system. You take a few question-answer pairs about an image as an input. Combine the answers and summarize the passage. The final passage should be informative enough to be used for answering different questions about the image.
{%- endif -%}
Your output format is only {{ output_format|default("[{'S': Summarization paragraph},]") }} form, no other form.

Input Question-Answers:
{%- if object_text_query is not none -%}
    What objects or text are visible in the image?
    {{ v }}
    {{ T }}
{% endif -%}
{%- if description is not none -%}
    Describe the image in details.
    {{ IN }}
{% endif -%}

{%- if unusual is not none -%}
    What is unusual about the image?
{{ UH }}
{% endif -%}
Summary: