Context: You are supposed to score the image based on the descriptions.
You are given the description of an image and you are ask to score the image based on the following question.
Description for Image-1: {{description1}}
How visually detailed the image is? Do not consider the text in the image. Return a score in range (0,5).
Please follow the format of:
    Explanation: ${explanation}
    Answer: ${answer}
ASSISTANT: