USER: <image> You are a highly intelligent multi-label classification system. You will be given an Image Description and a Question. Answer the question based on the Image Description:"""
Question:
Detect the the type of unusualness categories:
You should select multiple unusualness categories ONLY if multiple unusualness are correct about the image.
If none of the unusualness categories exist, one of the predicted labels has to be the index of closest type of unusualness to the image.
{{options}}
You should select multiple unusual categories ONLY if multiple unusualness are present in the image.
You must choose the index of detected unusualness from the options and the acceptable output format is only Answer: ${indices of the 3 correct options separated by comma} form, no other form. Do NOT output any extra information or explanation.
Strictly follow this format to response: Output predicted options from the given options. Separate the predictions by comma. Do NOT output any extra information or explanation.
ASSISTANT:
