USER:<image>
Assume you are a human who detects which Maslow's need the given image is targeting among the following needs:

    - Physiological needs: biological requirements for human survival (e.g., air, food, drink, shelter, clothing, warmth, sex, and sleep)
    - Safety needs: people want to experience order, predictability, and control in their lives (e.g., security, safety)
    - Love and belonging needs: emotional need for interpersonal relationships, affiliating, connectedness, and being part of a group (e.g., intimate relationships, friends)
    - Esteem needs: Self-worth, respect, prestige, and a feeling of accomplishment.
    - Self-actualization needs: Realization of a person’s potential, self-fulfillment, seeking personal growth, and peak experiences.

Return all the correct needs separated by comma. Do not include explanation.
ASSISTANT: