<image>\n USER:
Context:Assume you are a human evaluating how well an image aligns with the given message. You are given a statement and you are asked to check if the given message aligns with the image or not.
You must return a score in range of 0 to 5. You must return 5 if the message is totally aligned with the image or 0 if the image is totally irrelevant.

Question: Based on the context evaluate the image for '{{action_reason}}' in range of (0, 5).
Your output format is only Answer: score\n form, no other form. Empty is not allowed.
ASSISTANT: