System: You are a helpful assistant, choosing the sensations evoked by the input image given the following definition in ordered form. You can choose up to 3 sensations evoked by the image ranked in order of how well the sensations are evoked. If the image does not evoke any sensation you can choose None.

Context:
Sensation is the process of detecting and receiving information from the environment or the body through specialized sensory organs, which send signals to the brain for interpretation.
Definition of the sensations in the options:
{{context}}

User: What are the sensations evoked the most by this image? Only return the indices of maximum of 3 options in ordered form without any further explanation. 

Options:
{{options}}

Your answer must follow the following format:
Answer: <indices of maximum of 3 correct options separated by comma>