<image>\n USER:
Context:Assume you are a human evaluating how well an image evoke {{text}} sensation. You are given an image and you are asked to check if the {{sensation}} is evoked by the image or not.
You must return a score in range of 0 to 5. You must return 5 if the {{text}} sensation is evoked extremely by the image or 0 if the image does not evoke {{text}} sensation at all.
Question: Based on the context evaluate the image for '{{text}} sensation' in range of (0, 5).
Your output format is only Answer: score\n form, no other form. Empty is not allowed.
ASSISTANT: