This is the original message for advertising a product:
{% for statement in action_reason %}
    - {{statement}}
{% endfor %}
Return an adjective that can reverse the meaning of the message. Only return the adjective.
Adjective:
