Name the main object in the following messages. Name both the object itself and the brand. An example for object is steak, fur, lotion, car, etc.:
{% for statement in action_reason %}
    - {{statement}}
{% endfor %}
Just name the objects.
objects:
