
USER: <image> You are a highly intelligent multi-label classification system. You will be given an Image Description and a Question. Answer the question based on the Image Description:
Question: Based on the context return the index of the best statement among the options to describe the image in the context.
If the context does not provide helpful information choose the best option from your side.
Options: {{options}}
Your output format is only {answer_format} form, no other form. None of the above is allowed. Even with not enough context and information, you must choose one of the options based on an unusual part of the context.
ASSISTANT: