USER:<image>
What are the non-textual objects visible in this image? Carefully output AT MOST top 5 objects. If there are more than 5 objects, output major/important objects according to the image. Words/Texts do not consider as objects. Separate with comma.
ASSISTANT: